<%- include('partials/head', { pageTitle: 'Mi Perfil' }) %>
    <%- include('partials/navbar') %>
        <main>
            <div class="container mt-5">
                <% if (user.profilePicture) { %>
                    <img src="/uploads/<%= user.profilePicture %>" alt="Foto de perfil" width="200" class="mb-4 mt-4 rounded-circle">
                    <% } else { %>
                        <img src="/public/assets/logueo_sims.png" alt="logeo sims" width="10%" class="mb-4" id="tinte">
                        <% } %>
                            <div class="row">
                                <h4>
                                    <%= user.username %>
                                </h4>
                                <p class="text-muted">Miembro desde <%= new Date().toLocaleDateString('es-AR') %>
                                        <p><strong>Nombre:</strong>
                                            <%= user.username %>

                                        </p>
                                        <p><strong>Email:</strong>
                                            <%= user.email %>
                                        </p>
                                </p>
                            </div>
            </div>
            <!-- Opciones de cuenta -->
            <div class="card-botones justify-content-center text-center mt-4">
                <h5 class="mb-3">Opciones de cuenta</h5>
                <a href="/user/upload" class="btn btn-primary">Subir imágen de perfil</a>
                <a href="/logout" class="btn btn-danger">Cerrar sesión</a>
            </div>
            </div>
        </main>
        <%- include('partials/foot') %>